.CalcItem {
 width: 95%;
 height: 80px;
 margin: 15px auto;
 background-color: #DCD6F7;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.MuiFormControl-root:first-child {
 width: 240px;
}
.MuiFormControl-root:last-child {
 width: 160px;
}