.mainInput {
 width: 95%;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 background-color: #DCD6F7;
 margin: 15px 12.5px!important;
 font-size: 22px!important;
}
.MuiInputBase-input {
 font-size: 22px!important;

}